@charset "utf-8";
/* CSS Document */

* {
	margin: 0 auto;
	padding: 0;
	text-indent: 0;
	list-style-type: none;
}

body {
	width: 100%;
}

h1{
	margin: 12px 0;
	font-size: 36px;
	text-align: center;
}
h2{
	float: left;
	width: 100%;
	height: 48px;
	margin: 10px 0 5px 0;
	font-size: 26px;
	background-color:rgb(194, 229, 255);
	color:rgb(0, 79, 255);
	line-height: 48px;
	text-indent: 10px;
	border-radius: 4px;
	box-shadow: 1px 1px 3px 0px #999;
}


b{
	color: #f00;
	cursor:pointer;
}
ul{
	margin: 0 8px;
}
li {
	float: left;
	width: 320px;
	height: 74px;
	line-height: 74px;
	float: left;
	border: solid 1px #ccc;
	margin: 4px 4px;
	text-indent: 4px;
	text-align: left;
	border-radius: 5px;
	font-weight: bold;
	background-color: #ffffff;
	box-shadow: 1px 1px 3px 0px #cdcdcd;
}

li.hidden{
	display: none;
}
li sub {
	float: right;
	font-size: 12px;
	width: 98px;
	margin-right: 5px;
}
li sub a{
	float: left;
	margin: 5px 2px auto 2px;
	line-height: 25px;
	width: 90px;
	background-color: #f4f4f4;
	padding: 2px;
	border-radius: 4px;
	transition: all 0.3s ease;
	text-align: center;
	font-weight: normal;
	font-size:14px;
	box-shadow: 1px 1px 3px 0 #898989;
}
li sub a:hover{
	background-color:#498ff0;
	color: #ffffff;
}

li sub a.hidden{
	display: none;
}


li.long{
	clear: both;
	height: 52px;
	line-height: 52px;
	width: 100%;
}
li.long h3{
	float: left;
	width: 960px;
	font-size: 16px;
	line-height: 52px;
	text-indent: 8px;
}
li.long sub {
	clear: none;
	float: right;
	line-height: 52px;
	height: 52px;
	width: 200px;
}
li.long span{
	margin-top: 10px;
}
li.long sub{
	margin-top: 8px;
}


li:hover{
	background-color: #fff;
}


/* Icons */
li span {
	float: left;
	width: 48px;
	height: 48px;
	margin: 12px 2px auto 6px;
}



#nescss > .container {
	max-width: 100%;
	margin: 0 auto;
	margin-top: 150px;
  }
/* Header */
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	border-bottom: 4px solid #D3D3D3;
	background-color: white;
  }
  
  header > .container {
	display: flex;
	align-items: baseline;
	max-width: 480px;
	margin-left: 10%;
	transition: all 0.3s ease;
	float: left;
  }
  
  header > .container > .nav-brand {
	margin-right: auto;
  }
  header > .container > .social-button {
	margin-left: auto;
  }
  
  .nav-brand .brand-logo {
	margin-right: 1rem;
  }
  .nav-brand > a {
	color: #000000;
	text-decoration: none;
  }
  
  header > .social-buttons {
	float: right;
	padding-top:40px;
	margin-right: 10%;
  }

  header > .social-buttons > .menu {
	font-size:20px;
	transition: all 0.3s ease;
  }

  header > .social-buttons > .menu a {
	font-weight: bold;
	padding: 4px;
	border-radius: 2px;
  }



  header > .social-buttons > .menu a:hover {
	transition: all 0.3s ease;
	color: #FFFFFF;
	background-color: #1692ff;
	border-radius: 2px;
  }
  
  /* Header-sticky */
  header.sticky > .container {
	font-size: 0.8rem;
	padding: 0;
	align-items: center;
  }
  header.sticky .nav-brand h1 {
	margin: 0;
  }
  
  header.sticky .nav-brand p {
	display: none;
	margin-bottom: 0;
	font-size: 0.6rem;
  }

a,a:visited{
	text-decoration-line: none;
	color: #333333;
}


p{
	text-indent: 8px;
	line-height: 32px;
	float: left;	
	padding-left: 10%;
	font-size: 18px;
}

.center {
	width: 100%;
	background-color: #ffffff;
	max-width: 100%;
  	margin: 0 auto;
  	margin-top: 150px;
}
.clr{
	clear: both;	
}

.site_discription{
	float: left;
	width: 100%;
	margin: 5px auto;

}
.vipimg{
	float: right;
	width: 20%;
	height: 94px;
	line-height: 94px;
}
.vipmq{
	float: left;
	width: 80%;
	height: 30px;
	line-height: 30px;
}
marquee{
	height: 30px;
	line-height: 30px;
	width: 98%;
	color: red;
	font-weight: bold;
}

.sitenav{
	clear: both;
	float: left;
	width: 100%;
}
.sitenav ul li {
	width: 49%;
	height: 48px;
	line-height: 48px;
	text-align: center;
	cursor:pointer;
}

.software_list{

	text-align: left;
	width: 85%;
}
.txtCenter{
	margin-top: 49px;
	text-align: center;
}

#MacOS {
	display: none;
}
#MacOS h2{
	background-color: #f8ce2e;	
}

.site_foot{
	float: left;
	width: 100%;
	margin: 35px auto;

}